# 台股每日爬蟲教學

In [1]:
import requests
from io import StringIO
import pandas as pd
import numpy as np

datestr = '20220301'

# 下載股價
r = requests.post('https://www.twse.com.tw/exchangeReport/MI_INDEX?response=csv&date=' + datestr + '&type=ALL')

# 整理資料，變成表格
df = pd.read_csv(StringIO(r.text.replace("=", "")), 
            header=["證券代號" in l for l in r.text.split("\n")].index(True)-1)

# 整理一些字串：

df.apply(lambda s: pd.to_numeric(s.astype(str).str.replace(",", "").replace("+", "1").replace("-", "-1"), errors='coerce'))
df

,證券代號,證券名稱,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌(+/-),漲跌價差,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量,本益比,Unnamed: 16
0,0050,元大台灣50,"8,694,504","12,259","1,218,632,723",139.05,140.80,138.85,140.45,+,1.95,140.45,11,140.50,265,0.00,NaN
1,0051,元大中型100,"73,585",130,"4,473,244",60.10,61.00,60.10,61.00,+,1.20,60.80,1,61.00,5,0.00,NaN
2,0052,富邦科技,"446,424",280,"58,321,064",129.30,131.10,129.30,130.55,+,1.25,130.50,3,130.55,18,0.00,NaN
3,0053,元大電子,"23,332",14,"1,575,991",67.15,67.95,67.15,67.75,+,1.10,67.70,1,67.75,16,0.00,NaN
4,0054,元大台商50,"8,000",8,"246,450",30.64,31.00,30.64,31.00,+,0.97,30.90,1,31.05,10,0.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29136,9944,新麗,"221,176",93,"4,824,133",21.90,21.90,21.70,21.90,+,0.15,21.75,1,21.90,8,66.36,NaN
29137,9945,潤泰新,"8,363,778","6,335","598,690,570",71.50,72.50,70.70,72.00,+,0.40,71.90,16,72.00,146,10.16,NaN
29138,9946,三發地產,"61,185",56,"865,540",14.20,14.20,14.05,14.15,+,0.10,14.15,8,14.20,9,33.69,NaN
29139,9955,佳龍,"4,455,737","2,767","112,176,992",26.50,26.50,24.60,24.85,-,1.65,24.80,11,24.85,13,0.00,NaN
29140,9958,世紀鋼,"1,501,328",941,"167,229,316",110.00,112.50,110.00,111.50,+,3.00,111.00,26,111.50,72,18.49,NaN

In [2]:
df.head()

,證券代號,證券名稱,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌(+/-),漲跌價差,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量,本益比,Unnamed: 16
0,0050,元大台灣50,"8,694,504","12,259","1,218,632,723",139.05,140.80,138.85,140.45,+,1.95,140.45,11,140.50,265,0.00,NaN
1,0051,元大中型100,"73,585",130,"4,473,244",60.10,61.00,60.10,61.00,+,1.20,60.80,1,61.00,5,0.00,NaN
2,0052,富邦科技,"446,424",280,"58,321,064",129.30,131.10,129.30,130.55,+,1.25,130.50,3,130.55,18,0.00,NaN
3,0053,元大電子,"23,332",14,"1,575,991",67.15,67.95,67.15,67.75,+,1.10,67.70,1,67.75,16,0.00,NaN
4,0054,元大台商50,"8,000",8,"246,450",30.64,31.00,30.64,31.00,+,0.97,30.90,1,31.05,10,0.00,NaN